body
{
    background-color: green !important;
    min-height: 100vh;
}

nav
{
    background-color: red;
}

nav ul
{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around
}

main
{
    background-color: lightblue;
    text-align: center;
}

h1
{

    text-align: center;
}
.home .description
{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    word-wrap:break-word;
    border: 10px solid red;
}